@font-face {
    font-family: 'dodge3';
    src: url(/fonts/Dodgv2ci.ttf);
}

@font-face {
    font-family: 'poiret';
    src: url(/fonts/PoiretOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: auto;
}

.logo {
    height: 215px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    top: -110px;
}

/* ESTILOS Y FORMATO AL MENÚ*/

nav {
    display: flex;
    justify-content: space-between;
    height: 150px;

}

.menu {
    display: flex;
}

nav ul li a {
    color: #6e4908;
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000c5;
    display: flex;
    align-items: center;
    /* position: -webkit-sticky;
    position: sticky; */
    /* top: 0; */
}

li {
    flex-direction: row;
    border-right: 1px solid #bbb;
}

li {
    flex-direction: row;
    border-right: 1px solid #bbb;
}

li a {

    transition-duration: 1.5s;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

li a:hover {
    border-radius: 8px;
    background-color: #373634c5;
    /* width: 100px;
    height: 50px; */
    color: black;

}

li a:hover:not(.active) {
    background-color: #d09707c5;
}

.active {
    background-color: #5555;
}

/* SERVICIOS Y PRODUCTOS */

h2 {
    background-color: white;
    border-end-start-radius: 100px;
    border-start-end-radius: 100px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 2vw;
    font-family: 'dodge3';
}

h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'poiret';
    background-color: transparent;
}

p {
    color: white;
    padding: 20px;
    font-size: 20px;
}

/*  BANNER */

#banner img {
    height: 889px;
    object-fit: contain;
}

.leyenda-banner {
    position: relative;
    top: -200px;
    background-image: url('/img/mozaico\ gris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: carga;
    animation-duration: 2s;
    animation-delay: 0,2s;
    opacity: 0;
    animation-fill-mode: forwards;


}

/* Animacion del banner texto */
@keyframes carga {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    position: relative;
    top: 25px;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    height: 200px;
}


/* ESTILO BOTON TURNO */

.login-text {
    background-color: rgb(253, 249, 249);
    margin: 10px;
    padding: 0;
}

.button {
    background-color: #bbb;
}

.btn-turno {
    background-color: rgb(248, 244, 244);
    padding: 10px;
    border-radius: 15px;
    color: rgb(9, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

.btn-turno:hover {
    color: rgb(9, 0, 0) !important;
    border: 3px solid rgb(2, 10, 60);
}

.turno {
    text-align: center;
    text-decoration: none;
    color: rgb(247, 247, 247);
}



/* GALERIA DE IMAGENES  */

.grid-seccion {
    width: 95%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    max-height: 600px;

}

.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;

}

.grid-img:nth-child(2) {
    height: 100%;
    justify-content: center;
    grid-row-start: span 2;
    overflow: hidden;
    border-radius: 2px;
}

/* BOTON DE INSTAGRAM */
.img-insta {
    position: relative;
    text-align: center;
}

.img-insta a img {
    border-radius: 30px;
    border: 2px solid pink;
}


/* FORMULARIO ESTILOS */


.form-contact {
    text-align: center;
    color: white;
    background-image: url("/img/logo\ blanco.JPG");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 75%;
    background-size: cover;

}

.form-contact-data {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    background-color: transparent;
    padding: 10px;
    display: flex;
}

.form-port {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(32, 32, 32, 0.815));
}

label {
    background-color: transparent;
    margin: 10px auto;
    font-size: 1.2rem;
    font-family: 'poiret';
}

input {
    height: 20px;
    font-size: 1rem;
    font-family: 'poiret';
}

.form-contact-data-1,
.form-contact-data-2 {
    flex-direction: column;
    width: 40%;
    margin-top: 0px;
    /* border: solid red 2px; solo de guia, borrar al concluir el CSS*/
}

.form-contact-data-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 438px;
}

.title-service {
    background-color: transparent;
    margin: 20px;
}

.servicios-interez {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    align-items: start;
    place-items: center;
    background-color: transparent;


}

.servicios-interez input {
    height: 15px;
    width: 15px;

}

.servicios-interez label {
    height: 30px;
}

/* ESTILOS A LOS CAMPOS DEL FORMULARIO */

/*PRIMERA COLUMNA */

.label-nombre {
    color: rgb(255, 255, 255);
}

.input-nombre,
.input-contacto {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    min-width: 250px;
    margin: auto;
}

.input-nombre:focus,
.input-contacto:focus {
    transition: border 0.4s ease-in-out;
    border-bottom: 2px solid rgb(181, 51, 51);
}
.input-nombre:valid,
.input-contacto:valid{
    font-size: 1rem;
    color: rgb(255, 255, 255);

}

.servicios-interez label, .title-service {
    font-size: 1.1rem;
    font-family: 'poiret';
}

/* SEGUNDA COLUMNA - COMPLETANDO AÚN*/ 
.select-vehiculo {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    min-width: 250px;
    margin: 10px auto;
    height: 30px;
    font-family: 'poiret';
    color: rgb(255, 255, 255);
}

.select-vehiculo:focus {
    transition: border 0.4s ease-in-out;
    border-bottom: 2px solid rgb(181, 51, 51);
    font-family: 'poiret';
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}
.select-vehiculo:valid{
    font-size: 1rem;
    font-family: 'poiret';

}

.select-vehiculo option{
    font-size: 0.9rem;
    font-family: 'poiret';
}
.adj-file{
    background-color: transparent;
}
.adj-file img{
    margin-top: 5px;
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    background-color: transparent;
}

.adj-file img:hover{
    border: 2px rgb(0, 255, 251) solid ;

    
}


.adj-file input{
    display: none;
    background-color: rgba(110, 110, 110, 0);
    width: 400px;
}


/* Se utilizo Transition para efecto en las imagenes */
.gid-img:hover {
    opacity: 0.9;
    width: 350px;
    height: 350px;
}

.gid-img {
    width: 250px;
    height: 250px;
    /* position: absolute; */
    font-weight: bold;
    padding: 3px;
    float: left;
    -webkit-transition-property: -webkit-transform 1s, width 1s, height 1s, transform 1s, background 1s, opacity 1s;
    transition-property: width, height, transform, background, opacity;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
    opacity: 0.4;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 450ms;
}

.gid-img:hover .gid-img {
    bottom: 0;
}

.detail-title {
    color: white;
    margin: 5px 0px 0px 0px;
    line-height: 1.2em;
}

.item-detail-title {
    font-family: 'poiret';
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 3px 0px;
}

/* Agregue diseño para el boton de Browse y color para el input de mensaje */
.text-area {
    color: white;
    padding: 8px;
    font-family: 'poiret';
}

#boton {
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: 'poiret';
    border-radius: 8px;
    cursor: pointer;
}

/* 
#boton {
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#boton:hover {
    border: 3px solid rgb(2, 10, 60);
}


#footer {
    background-color: rgb(255, 252, 252); */
    /* position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
 #img-inst-logo {
    background-color: rgb(255, 252, 252);
}

#img-inst {
    text-align: start;
}



/* #img-efcarcare {
    text-align-last: right;
    padding: auto;
    margin: 100px;
} */

/* .imagenes-productos{
    display: grid;

} */


/* .menu-btn{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
} */

/* #cars{
    padding-inline-end: 9%;
    text-align: left;
    color: white;
} */


/* .container {
    position: relative;
    text-align: center;
} */


/* .grid-container {
    display: grid;
    height: 400px;
    align-content: space-evenly; */
/* grid-template-columns: 50px 50px; */
/* grid-template-areas: 'miArea miArea miArea miArea miArea';
    gap: 10px;
    background-color: #080909;
    padding: 10px;
    justify-content: center;
} */


/* @media screen and(min-whidth:600px){
    .menu{
        display: flex !important;
        justify-content: flex-end;
    }

    .menu-btn{
        display: none;
    }

    .menu.logo{
        float: left;
    }
} */


/* #subtitulo{
    text-align: center;
    padding-inline-start: 10%;
} */

/* #mozaico {
    opacity: 20%;
    position: relative;
    width: 100%;
    height: auto;
} */

/* /* .logo {
    width: 150px;
    height: 150px;
} */

/* .logo:hover {
    animation: tilt-n-move-shaking 0.35s infinite;
} */

/* @keyframes tilt-n-move-shaking{
    0% { transform: translate(5px, 5px) rotate(5deg); }
    25% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(-5px, 5px) rotate(-5deg); }
    75% { transform: translate(0, 0) rotate(0deg); }
    100% { transform: translate(0, 0) rotate(0deg); }

} */