@font-face {
    font-family: 'dodge3';
    src: url(/fonts/Dodgv2ci.ttf);
}

@font-face {
    font-family: 'poiret';
    src: url(/fonts/PoiretOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    box-sizing: border-box;
}
a{
text-decoration: none;
}
body {
    width: 95%;
    margin: auto;
}

.logo {
    height: 215px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    top: -110px;
}

/* ESTILOS Y FORMATO AL MENÚ*/

nav {
    display: flex;
    justify-content: space-between;
    height: 150px;

}

.menu {
    display: flex;
}

nav ul li a {
    color: #6e4908;
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000c5;
    display: flex;
    align-items: center;

}

li {
    flex-direction: row;
    border-right: 1px solid #bbb;
}

li {
    flex-direction: row;
    border-right: 1px solid #bbb;
}

li a {

    transition-duration: 1.5s;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

li a:hover {
    border-radius: 8px;
    background-color: #373634c5;
    /* width: 100px;
    height: 50px; */
    color: black;

}

li a:hover:not(.active) {
    background-color: #d09707c5;
}

.active {
    background-color: #5555;
}

/* SERVICIOS Y PRODUCTOS */

h2 {
    background-color: white;
    border-end-start-radius: 100px;
    border-start-end-radius: 100px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 3vw;
    font-family: 'dodge3';
}

h3 {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'poiret';
    background-color: transparent;
}

p {
    color: white;
    padding: 20px;
    font-size: 20px;
}

/*  BANNER */

#banner img {
    height: 889px;
    object-fit: contain;
}

.leyenda-banner {
    position: relative;
    top: -200px;
    background-image: url('/img/mozaico\ gris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: carga;
    animation-duration: 2s;
    animation-delay: 0,2s;
    opacity: 0;
    animation-fill-mode: forwards;


}

/* Animacion del banner texto */
@keyframes carga {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    position: relative;
    top: 25px;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    height: 200px;
}


/* ESTILO BOTON TURNO */

.login-text {
    background-color: rgb(253, 249, 249);
    margin: 10px;
    padding: 0;
}

.button {
    background-color: #bbb;
}

.btn-turno {
    background-color: rgb(248, 244, 244);
    padding: 10px;
    border-radius: 15px;
    color: rgb(9, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

.btn-turno:hover {
    color: rgb(9, 0, 0) !important;
    border: 3px solid rgb(2, 10, 60);
}

.turno {
    text-align: center;
    text-decoration: none;
    color: rgb(247, 247, 247);
}



/* GALERIA DE IMAGENES  */

.servicios-productos{
    grid-area: servicios;

}

.container{
    margin:auto;
    display: grid;
    align-self: center;
    grid-template-areas: 
                        'servicios servicios servicios'
                        'foto-izq foto-video foto-der'
                        'foto-izq foto-video foto-der';
    grid-gap: 10px;
    /**background-color: grey;**/
    padding: 20px;
    width: 90%;
    align-content: center;
    color: #6e4908;
   
}
.grid-foto-izq{
    grid-area: foto-izq;

}
.grid-video{
    grid-area: foto-video;


    
    object-fit: cover;
    border-radius: 2px;
    margin: 20px;
}
.grid-foto-der{
    grid-area: foto-der;
    
}
.grid-img {
    
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;


}


/* BOTON DE INSTAGRAM */
.img-insta {
    position: relative;
    text-align: center;
}

.img-insta a img {
    border-radius: 30px;
    border: 2px solid pink;
}


/* SECCION NOSOTROS*/
.nosotros{
    position: static;
    margin: 0 10%; 
}

/* FORMULARIO ESTILOS */


.form-contact {
    text-align: center;
    color: white;
    background-image: url("/img/logo\ blanco.JPG");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 75%;
    background-size: cover;


}

.form-contact-data {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    background-color: transparent;
    padding: 10px;
    display: flex;
}

.form-port {    
   
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(32, 32, 32, 0.815));

    
}

label {
    background-color: transparent;
    margin: 10px auto;
    font-size: 1.2rem;
    font-family: 'poiret';
}

input {
    height: 20px;
    font-size: 1rem;
    font-family: 'poiret';
}

.form-contact-data-1,
.form-contact-data-2 {
    flex-direction: column;
    width: 40%;
    margin-top: 0px;
    /* border: solid red 2px; solo de guia, borrar al concluir el CSS*/
}

.form-contact-data-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 438px;
}

.title-service {
    background-color: transparent;
    margin: 20px;
}

.servicios-interez {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    align-items: start;
    place-items: center;
    background-color: transparent;


}

.servicios-interez input {
    height: 15px;
    width: 15px;

}

.servicios-interez label {
    height: 30px;
}

/* ESTILOS A LOS CAMPOS DEL FORMULARIO */

/*PRIMERA COLUMNA */

.label-nombre {
    color: rgb(255, 255, 255);
}

.input-nombre,
.input-contacto {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    min-width: 250px;
    margin: auto;
}

.input-nombre:focus,
.input-contacto:focus {
    transition: border 0.4s ease-in-out;
    border-bottom: 2px solid rgb(181, 51, 51);
}
.input-nombre:valid,
.input-contacto:valid{
    font-size: 1rem;
    color: rgb(255, 255, 255);

}

.servicios-interez label, .title-service {
    font-size: 1.1rem;
    font-family: 'poiret';
}

/*ESTILO DE VALIDACION CAMPO NOMBRE Y CONTACTO */

.val-correct{
    border-bottom: 2px solid rgba(149, 255, 0, 0.434);

}

.val-incorrect{
    border-bottom: 2px solid rgb(181, 51, 51);
    background-color: rgba(255, 0, 0, 0.164);
    border-radius: 3px;
}


/* SEGUNDA COLUMNA */ 
.select-vehiculo {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    min-width: 250px;
    margin: 10px auto;
    height: 30px;
    font-family: 'poiret';
    color: rgb(255, 255, 255);
}

.select-vehiculo:focus {
    transition: border 0.4s ease-in-out;
    border-bottom: 2px solid rgb(181, 51, 51);
    font-family: 'poiret';
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}
.select-vehiculo:valid{
    font-size: 1rem;
    font-family: 'poiret';

}

.select-vehiculo option{
    font-size: 0.9rem;
    font-family: 'poiret';
}
.adj-file{
    background-color: transparent;
}
.adj-file img{
    margin-top: 5px;
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    background-color: transparent;
}

.adj-file img:hover{
    border: 2px rgb(0, 255, 251) solid ;

    
}


.adj-file input{
    display: none;
    background-color: rgba(110, 110, 110, 0);
    width: 400px;
}


/* Se utilizo Transition para efecto en las imagenes */
.gid-img:hover {
    opacity: 0.9;
    width: 400px;
    height: 400px;
}

.gid-img {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    font-weight: bold;
    padding: 5px;
    float: left;
    -webkit-transition-property: -webkit-transform 1s, width 1s, height 1s, transform 1s, background 1s, opacity 1s;
    transition-property: width, height, transform, background, opacity;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
    opacity: 0.4;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 450ms;
}

.gid-img:hover .gid-img {
    bottom: 0;
}

.detail-title {
    color: white;
    margin: 3px 0px 0px 0px;
    line-height: 1.3em;
}

#item-detail-title {
    font-family: 'poiret';
    text-align: start;
    color: white;
    font-size: 16px;
    margin: 3px 0px;
    text-align: center;
    margin: 0;
}

/* Agregue diseño para el boton de Browse y color para el input de mensaje */
.text-area {
    color: white;
    padding: 8px;
    font-family: 'poiret';
}

#boton {
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: 'poiret';
    border-radius: 8px;
    cursor: pointer;
}
 /* Fooooter*/
 

/* MENU HAMBURGUESA */
.contenedor{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header .div.contenedor {
    place-content: flex-start;
}

header .div.contenedor nav {
    width: 70%;
    display: flex;
    place-content: space-between;
}

#menu, #menu-check {
    display: none;
}

.footer{
 
    display: flex;
   
    flex-wrap: wrap;

    justify-content: space-between;
    
 }

/* MEDIAQUERIES */
@media only screen and (mix-width: 768px) and (max-width: 900px) {
    header div.contenedor, header div.contenedor ul, header div.contenedor ul li {
        display: inline;
    }

    header div.contenedor nav {
        width: 100%;
        display: inline;
    }
    
    
}

@media only screen and (max-width: 769px) {

    .form-contact-data{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        padding: 20px; 
    }

    .form-contact-data-1{
        padding: 10px;

        width: 100%;
        };

    .form-contact-data-2{
        padding: 10px;
        
        width: 100%;
        };
    
    header nav.logo {
        margin: 0;
    }

    header nav a {
        padding: 0;
    }

    header div.contenedor {
        display: flex;
        place-content: space-between;
    }

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check::checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: rgb(200, 194, 7);
        background-color: rgb(12, 12, 12);
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid #6e4908;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hover {
        color: #828206;
        background-color: rgb(183, 117, 3);
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ lavel #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ lavel #menu-cerrar {
        display: block;
    }

    header div.contenedor nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: rgb(10, 10, 10);
        padding-top: 0.2em;
        padding-right: 0.2em;
        opacity: 0.8;
        color: white;
        font-size: 1.4em;
    }

    header div.contenedor nav ul a {
        color: #6e4908;
        background: none;
    }

    header div.contenedor nav ul, header div.contenedor nav ul li {
        display: block;
        text-align: right;
        padding: 0.4em;
    }

    main {
        text-align: center;
    }

    h1  {
        font-size: 1.8em;
    }

    
    main .container{
        display: block;
        padding: 0px;
        width: 70%;
    }

    .grid-img {
        height: 250px;
        margin: 20px;
    }
    
    
    .gid-img {
        width: 300px;
        height: 300px;
        padding: 5px;
        transition: none;
    }
        
    .detail-title {
        margin: 0;
    }
    

   .footer{
 
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
 }
    
}